/* ************************
* THEME COLORS
************************* */

$primary_color: #2C2C2C;
$seconary_color: #FFE0C2;
$tertiary_color: #ABC;

/* ************************
* FONTS
************************* */

$fjosy_thin: 'Josy Sans Light';
$fjosy_regular: 'Josy Sans Regular';
$fjosy_semibold: 'Josy Sans Semibold';

/* ************************
* LAYOUT SIZES
************************* */
$sSmall: 16px;
$sMedium: 24px;
$sLarge: 32px;
$sExtraLarge: 40px;